body {
    width: 50%;
    font-family: Verdana, sans-serif;
    background-color: lightgray;
}

img {
    width: 700px;
    height: auto;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

p, li {
    font-size: 20px;
}