html,
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: lightgray;
    text-align: center;
}

.link-container {
    width: 580px;
    margin: 0 auto;
}

.img-container {
    background-color: white;
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
}

li {
    list-style: none;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}
