body {
    text-align: center;
    font-family: Verdana, sans-serif;
}

img {
    width: 400px;
    height: auto;
}

h1 {
    font-size: 50px;
}

li {
  list-style-type: none;
  font-size: 24px;
}

li a {
    color: black;
    text-decoration: none;
}